.background{
	background-color: white;
}

.button {
 	width: 60px;
 	height: 30px;
 	background-color: white;
 	border: 0.125em solid;
 	border-color: #3498db;
 	border-radius: 0px 0px 0px 0px;
 	position: relative;
 	color: #3498db;
 	cursor: pointer;
 	margin-top: 1.75em;
 	margin-left: 65.75em;
 }

.button:hover {
 	border: solid;
 	color: white;
 	border-color: #3498db;
 	background-color: #3498db;
 	transition: 0.5s;
 }

 
 .control {
 	max-width: 9.375em;
 	position: absolute;
 	margin-top: 1.25em;
 	margin-left: 1.25em;
 }

 .nao-tem-conta {
 	color: #3498db;
 	text-decoration: none;
  	position: absolute;
 	margin-top: 1.75em;
 	margin-left: 46.75em;

 }

 .email {
 	color: #3498db;
 	border: none;
 	position: absolute;
 	margin-top: 2.5em;
 	margin-left: 33em;

 }

 .submit {
 	width: 12.5em;
 	height: 3.125em;
 	background-color: #3498db;
 	border: 0.125em solid;
 	border-color: #3498db;
 	border-radius: 0px 0px 0px 0px;
 	position: relative;
 	color: white;
 	cursor: pointer;
 	margin-top: 20em;
 	margin-left: 31.5em;
 }

.submit:hover {
 	border: 2px solid;
 	color: #3498db;
 	border-color: #3498db;
 	background-color: #fff;
 	transition: 0.5s;
 }

 .ajuda {
 	max-width: 3.125em;
 	max-height: 3.125em;
 }

.logo {
	position: absolute;
	margin-top: 10.75em;
	margin-left: -38em;
}

.text_email {
	position: absolute;
	margin-top: 0.5em;
	margin-left: 27.5em;
}

.firts {
	position: relative;
	margin-top: 13em;
}

.text_senha {
	position: absolute;
	margin-top: 5em;
	margin-left: 27.5em;
}

.senha {
	position: absolute;
	margin-top: 8em;
	margin-left: 33em;
	border: none;
	color: #3498db
}

 /*Universal Style */

 p {
 	color: #3498db;
 }

 hr {
 	background-color: #3498db;
 	background: #3498db;
 	color: #3498db;
 	border-color: #3498db;
 	max-width: 25em;
 }



 


     /**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	background-color: #f5f5f5;
  }
  a {
	text-decoration: none;
  }
  li a {
	text-decoration: underline;
	color: #0288d1;
  }
  .mdl-card {
	overflow: visible;
  }
  .grecaptcha-logo {
	background-color: white;
  }
  .mdl-grid {
	max-width: 2024px;
	margin: auto;
  }
  .mdl-layout__header-row {
	padding: 0;
  }
  .quickstart-user-details-container, .user-details-container {
	margin-top: 20px;
	line-height: 25px;
  }
  #quickstart-sign-in-status, #sign-in-status {
	font-weight: bold;
  }
  pre {
	overflow-x: scroll;
	line-height: 18px;
  }
  code {
	white-space: pre-wrap;
	word-break: break-all;
  }
  h3 {
	background: url('firebase-logo.png') no-repeat;
	background-size: 40px;
	padding-left: 50px;
	color: white;
  }
  #verification-code-form {
	display:none;
  }
  #recaptcha-container {
	margin-top: 10px;
	margin-bottom: 20px;
  }
  #verify-code-button, #cancel-verify-code-button {
	margin-left: 20px;
  }
  #sign-out-button {
	display: none;
  }
  #sign-in-card {
	z-index: 2;
  }